spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/online_exam
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
  thymeleaf:
    cache: false

server:
  port: 8080
debug: true
