<!DOCTYPE html>
<html  dir="rtl" lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ورود</title>
</head>
<body>

<h2>ورود به سیستم</h2>

<div th:if="${param.error}">
    <div style="color: red;">نام‌کاربری یا رمز عبور اشتباه است!</div>
</div>

<div th:if="${param.logout}">
    <div style="color: green;">با موفقیت خارج شدید!</div>
</div>

<form th:action="@{/login}" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>

    <div>
        <label for="username">ایمیل:</label>
        <input type="text" id="username" name="username" placeholder="ایمیل" required/>
    </div>

    <div>
        <label for="password">رمز عبور:</label>
        <input type="password" id="password" name="password" required/>
    </div>

    <button type="submit">ورود</button>
</form>

</body>
</html>
